# API Keys
ANTHROPIC_API_KEY=""
MODEL_NAME=claude-sonnet-4-20250514

# Supabase | Note that you won't have access to our profiling dataset that contains 300+ different user data for 3 person. Reach out to us if you need them!
SUPABASE_URL=""
SUPABASE_KEY=""
DASHBOARD_USER=admin
DASHBOARD_PASS=admin

# Demo User Accounts (username:password)
# mertali-tercan    / mertali-tercan-1
# deniz-coban       / deniz-coban-1
# ediz-uysal        / ediz-uysal-1
